#parentStackPane{
-fx-background-color:red;
}
.text-area{
-fx-background-color: #e3f1fe ;
-fx-background-insets: 0, 0 0 1 0 ;
-fx-background-radius: 0 ;

}
button:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
